<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>requestFactoryServlet</servlet-name>
        <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>driveServletImpl</servlet-name>
        <servlet-class>hu.nooon.dobido.server.drive.GoogleDriveServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestFactoryServlet</servlet-name>
        <url-pattern>/dobido/gwtRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>driveServletImpl</servlet-name>
        <url-pattern>/dobido/googledrive</url-pattern>
    </servlet-mapping>


</web-app>