<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>requestFactoryServlet</servlet-name>
        <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
        <!--<init-param>-->
            <!--<param-name>symbolMapsDirectory</param-name>-->
            <!--&lt;!&ndash; You'll need to compile with -extras and move the symbolMaps directory-->
            <!--to this location if you want stack trace deobfuscation to work &ndash;&gt;-->
            <!--<param-value>WEB-INF/classes/symbolMaps/</param-value>-->
            <!--<param-name>userInfoClass</param-name>-->
            <!--<param-value>com.dynatech.server.domain.NameData</param-value>-->
        <!--</init-param>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>requestFactoryServlet</servlet-name>
        <url-pattern>/dobido/gwtRequest</url-pattern>
    </servlet-mapping>

</web-app>